.container-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 2rem 2rem;
    border: solid 3px #020202;
    text-align: center;
    background-color: rgba(255, 0, 51, 0.527);
    
}
.container-aboutme p {
    font-size: 20px;
    margin: 0 0 0.5rem 0;
    padding-bottom: 10px;
    color: #000000;
  }
